/**
| Font Declarations:
============================================================================= */

// Note: Not copying the contents of the following URL to eliminate a separate
// network request based on
// https://css-tricks.com/dont-just-copy-the-font-face-out-of-google-fonts-urls/.
// We can optimize later.
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
